th {
	vertical-align: top;
}

th,td {
	padding-right: 1em;
	padding-bottom: 1em;
}

.is-hidden {
	display: none;
}

a {
	cursor: pointer;
	color: blue;
}

a:hover {
	text-decoration: underline;
}

.number-input {
	width: 3em;
}